<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Boot MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Empréstimo Livros</h1>
<form action="#" th:action="@{/empresitmo}" th:object="${pessoa}" method="post">
    <p>Nome: <input type="text" th:field="*{nome}"/></p>
    <p>Título do Livro: <input type="text" th:field="*{livro.titulo}"/></p>

    <p><input type="submit" value="Efetuar empréstimo"/> <input type="reset" value="Cancelar"/></p>
</form>
</body>
</html>
