<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Empréstimo de Livros</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1>Empréstimo Livros</h1>
<table class="table">
    <tr>
        <th>Usuário</th>
        <th>Livro</th>
        <th>Prazo</th>
        <th>Devolução</th>
    </tr>
    <tr>
        <td>Nandinho</td>
        <td>Quem mexeu no meu queijo?</td>
        <td>INDEFINIDO</td>
        <td>INDEFINIDO</td>
    </tr>

    <a href="http://localhost:8080/lista-livros">
        <button>Lista de Livros</button>
    </a>

    <a href="http://localhost:8080/consulta-livros">
        <button>Consulta de Livros</button>
    </a>

</table>


</body>
</html>
